# 统一换行符策略
* text=auto eol=lf

# shell 脚本必须 LF（否则设备上 / Linux 下无法执行）
*.sh text eol=lf
*.patch text eol=lf
*.diff text eol=lf
*.h text eol=lf
*.py text eol=lf
Pangu_SukiSU_defconfig text eol=lf

# 二进制
*.img binary
*.gz binary
*.bin binary
*.png binary
*.jpg binary
